.pageTitle {
    text-align: center;
}

body {
    background-color:pink; 
}

footer{
    text-align: center;
}

header.productHeader{ 
    border: 1px solid lightblue;
    justify-content: center;
    width: 150px;
    height: 100px;
    flex-wrap: wrap;
}

.containers{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
}
.containers>*{
    display: flex;
    flex: 3 3 33.3333%;
}
.cards{
    box-shadow: 0 8px 8px #000;
}
.cards{
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.productImage{
    flex: 1;
}
img 
    {min-width: 150px;
    max-width: 150px;
    height: 250px;
    text-align: center;
    margin: 5% auto;
    background-color: #ccc;
    flex: 1;
}
p.productDescription{
    flex: 1;
    justify-content: center;
}

.productAvailablity{
    flex: 1;
    justify-content: left; 
    border: 1px solid grey;
    background-color: grey;
    color: yellow;
}

.productSizeWeight{
    text-align: left; 
    margin-left: 2em;
}
