.pageTitle {
    text-align: center;
}

body {
    background-color:pink; 
}

footer{
    text-align: center;
}

header.productHeader{ 
    border: 1px solid lightblue;
    justify-content: center;
    align-self: center;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    margin: 0%;
}

.containers{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 1em;
    
}
.productAvailablity{
    flex: 1;
    justify-content: stretch; 
    border: 1px solid grey;
    background-color: grey;
    color: yellow;
    height: fit-content;
}
.containers>*{
    display: flex;
    flex: 0 1 33.3333%;
}
.cards{
    box-shadow: 2px 8px 8px #000;
    margin: auto;

}
.cards{
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}
p{
    margin: 0%;
}

h3{
    margin-block: 0%;
}

h2{
    margin-block: 0%;
}
.productImage{
    flex: 1;
    align-self: center;
}
img 
    {width: 200px;
    height: 200px;
    text-align: center;
    margin: 2% auto;
    background-color: #ccc;
    flex: 1;
    
}
p.productDescription{
    flex: 1;
    justify-content: center;
}


.productSizeWeight{
    text-align: left; 
    margin-left: 2em;
}

.pricing{
    text-align: left; 
    margin: 0;
}

.productPriceQuantity{
    text-align: left; 
    margin-left: 2em;
}